.post {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.header {
  margin-bottom: 10px;
}

.header h2 {
  margin: 0;
}

.header p {
  margin: 5px 0;
  color: gray;
}

.body {
  margin-bottom: 15px;
}
